.container {
    max-width: 120rem;
    margin: 3rem auto;
    background-color: var(--silver-opacity);
    box-shadow: 0 2rem 6rem var(--black-light);
    position: relative;
    border: 0.2rem solid var(--white);
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
    @media only screen and (max-width: $bp-medium) {
        margin: 0;
        padding: 0;
    }
}

.header {
    height: 95vh;
    background-image: linear-gradient(160deg, var(--header-1), var(--header-2));
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 100%, 0 75vh);
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 24.75em) {
        height: 60vh;
    }
}

.main {
    .section-about-artModifiers {
        // padding: 20rem 0;
        padding-top: 20rem;
        padding-bottom: 25rem;
        margin-top: -20vh;
        background-color: var(--black-body);
        text-align: center;
        clip-path: polygon(0 0, 50% 20vh, 100% 0, 100% 100%, 0 100%);
        @media only screen and (max-width: 54.75em) {
            padding-bottom: 10rem;
        }
        @media only screen and (max-width: 28.37em) {
            clip-path: none;
            padding-bottom: 0rem;
        }
        @media only screen and (max-width: 24.75em) {
            padding-top: 20rem;
        }
        @media only screen and (max-width: 21.56em) {
            padding-top: 2rem;
        }
    }
}

.features {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    background-image: linear-gradient( 160deg, rgba(173, 180, 103, 0.63), rgba(241, 241, 237, 0.63));
}

.footer {
    background-color: var(--black-body);
}