footer.footer
    div(class='footer_img_logo')
        img(src='/img/favicon.png' alt='logo' class='footer_logo-image')
    .row
        .col-1-of-2.media
            .footer_social_med_buttons
                a.footer--navigation-link(href='#')
                   
                    span.facebook
                        svg(class='svg_icon home-icon')
                            use(xlink:href='/img/sprite.svg#icon-facebook') 
                        |Facebook
                a.footer--navigation-link(href='#')
                    
                    span.twitter 
                        svg(class='svg_icon home-icon')
                            use(xlink:href='/img/sprite.svg#icon-instagram')
                        |Instagram
                a.footer--navigation-link(href='#')
                    span.youtube 
                        svg(class='svg_icon home-icon')
                            use(xlink:href='/img/sprite.svg#icon-youtube')
                        |Youtube  
        .col-1-of-2
            .footer_copyright
                | &copy; 2021 by Art Modifiers. All rights reserved.
                a.navigation-link(href='/about-Henk') About Henk
