
div(class='navigation_check')
    input#navi-toggle(type='checkbox' class='navigation_check_button ')
    label(for='navi-toggle' class='label_B burger')
        .line
        .line
        .line
    .navigation-bar &nbsp;
    .navigation-links
        ul.navigation-lists
            li.navigation-item
                svg(class='svg_icon home-icon')
                    use(xlink:href='/img/sprite.svg#icon-home')
                a.navigation-link(href='/art-Modifiers') Home
            li.navigation-item
                svg(class='svg_icon home-icon')
                    use(xlink:href='/img/sprite.svg#icon-text-document')
                a.navigation-link.blog(href='#') Blog

            li.navigation-item
                svg(class='svg_icon home-icon')
                    use(xlink:href='/img/sprite.svg#icon-open-book')
                a.navigation-link.aboutArtM(href='/about-art') About Art
            li.navigation-item
                svg(class='svg_icon home-icon')
                    use(xlink:href='/img/sprite.svg#icon-shopping-bag')    
                a.navigation-link.clothing(href='#') clothing Online Shop
            li.navigation-item
                svg(class='svg_icon home-icon')
                    use(xlink:href='/img/sprite.svg#icon-user')
                a.navigation-link(href='/about-Henk') About Henk


                