extends base

block content 
    .col-1-of-2.section-about-artmodifiers--header
        .blue-glass
            .glass
                h2.about.margin-bottom-small
                    | About Art Modifiers
                p.about1.main
                    |Art Modifiers was found the year 2019,The company 
                    |The company partnered or recognized the Most Wanted Production in May 2019 and We menufacture artistic craft and do the following:
                    p.about1 
                        svg(class='svg_icon home-icon')
                            use(xlink:href='/img/sprite.svg#icon-chevron-right')
                        |We uplift talent of any kind
                    p.about1 
                        svg(class='svg_icon home-icon')
                            use(xlink:href='/img/sprite.svg#icon-chevron-right')
                        |Help connect with the relevant people 
                    p.about1
                        svg(class='svg_icon home-icon')
                            use(xlink:href='/img/sprite.svg#icon-chevron-right') 
                        |Help you do your company registration
                    p.about1
                        svg(class='svg_icon home-icon')
                            use(xlink:href='/img/sprite.svg#icon-chevron-right') 
                        |Performing art, Script writing and Directing
                    p.about1
                        svg(class='svg_icon home-icon')
                            use(xlink:href='/img/sprite.svg#icon-chevron-right') 
                        |We do photography, Choreography and most importantly, we tell a true story through art.
                hr.line1

        .col-1-of-2.service 
            h3.about.margin-bottom-small 
                | Our Service and Prices
            img.service-D(src="/img/service.jpg", alt="service")
        
        
