doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style1.css')
    link(rel='shortcut icon' href='/img/favicon.png' type='img/png')
    title Art Modifiers | #{title}
  body
    include _header 

    block content 

    include _chat
    .blog-clothing 
      p.message Sorry! This Feature is coming soon!
    
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    //script(src="/js/index.js")
    //script(src='/js/auth.js')
    //script(src='/js/alerts.js')
    script(src='/js/bundle.js')