extends base


block content
    .close
        a(href='/' class='popup_close') &times;
    h1.primary-heading PHOTHOS
        span.most-wanted.primary-heading-sub Most Wanted Production 
    .gallery-photos
        .image.photo1
            img(src="/img/left.jpg")
            .capture1 Art  
        .image.photo2 
            img(src="/img/forward.jpg") 
            .capture2 has 
        .image.photo3 
            img(src="/img/up.jpg")
            .capture3 its
        .image.photo4 
            img(src="/img/handsOn.jpg")
            .capture4 way