extends base
block content 
    .henk-container 
        .henk-container-image 
            img.henk(src="/img/henk.jpg", alt="HENK the Dev")
            .images 
                span(style='--i:1')
                    svg(class='svg_icon html-icon')
                        use(xlink:href='/img/sprite.svg#icon-html-five')
                span(style='--i:2')
                    svg(class='svg_icon css-icon')
                        use(xlink:href='/img/sprite.svg#icon-css3')
                span(style='--i:3')
                    svg(class='svg_icon home-icon')
                        use(xlink:href='/img/sprite.svg#icon-javascript')
                span(style='--i:4')
                    svg(class='svg_icon home-icon')
                        use(xlink:href='/img/sprite.svg#icon-node-dot-js')
        .henk-service 
            .service-link 
                h2 I AM A TEST ENGINEER AND A WEB DEV.
                p.software-E I have 4years of work experience in the field of protection engineering and
                    |I am persuing the Web Dev career and designed the website you are checking now and hey there's more coming 
            span.journey ITS A JOURNEY THAT HAS NO END.
            .softwares 
                h2 Sofware Exposure 
                p.software-E 1.PCM600
                p.software-E 2.FESTO CODESYS PLC 
                p.software-E 3.FESTO PNEUMATICS 
                p.software-E 4.ARDUINO UNO 
                p.software-E 5.OMICRON CMC 356
                h2 Dev Exposure 
                p.software-E 1.HTML 10MONTHS
                p.software-E 2.CSS AND SASS  6MONTHS
                p.software-E 3.JAVASCRIPT 6MONTHS
                p.software-E 4.NODE JS BEGINNER