extends base

block content
    .container
        audio.intro(src="/mp3/Art.mp3" type="audio/mp3" autoplay) 
        .text-heading
            h1.primary-heading
                span.primary-heading-main ART MODIFIERS
                span.primary-heading-sub YOUR TALENT,OUR RESPONSIBILITY
        .text-message 
            p Art Modifiers was found the year 2019,
                |The company partnered or recognized Most Wanted Production in May 2019 and Menufacture artistic craft.
        .button    
            a.btn.btn-white.btn-animated(href='/artmodifiers/about-art') READ ABOUT US
            .btn-below.btn-animated
            .press-me
                svg(class='svg_icon home-icon')
                    use(xlink:href='/img/sprite.svg#icon-arrow-long-right')
                    |chat
    include _footer