extends base


block content
    #popup-video.popup-main
        .row
            .love-letter-image 
                p PLAY ME! I am the love letter and Art Modifeirs identified the talent in me         
            .video-container
                video#video(controls)
                    source(src='/video' type ="video/mp4")
